/* Font-sizes */
$font-size-logo: 2em;
$font-size-tile: 2.2em;
$font-size-nav: 0.9em;
$font-size-footer: 0.9em;

/* Font families */
$font-family-logo: "Times New Roman";
$font-family-navigation: Helvetica;
$font-family-tiles: Verdana;
$font-family-footer: Helvetica;

/* Colors */
$color-aquasqueeze: #eef8f6;
$color-shadowgreen: #9bc0b9;
$color-patina: #5a9086;
$color-bluesmoke: #67837e;
$color-powderash: #b7c2be;

$color-frangipani: #ffe0b5;
$color-drink-list: #fff;

/* Breakpoints */
$breakpoint-three-columns: 1170px;
$breakpoint-less-padding: 950px;
$breakpoint-two-columns: 780px;

/* Paths */
$path-to-images: "../assets/";

/* Sizes */
$tile-size: 240px;
$tile-border-width: 8px;
